<!DOCTYPE html>
<html>
    <head>
        <title>Attendance Marking Site</title>
    </head>
    <link rel="stylesheet" href="../static/homecss.css" type="text/css">
<body>
    <div class="header">
        <h1>MITS STUDENT PORTAL</h1>
        <p>CSE Department</p>
      </div>
     <div class="div-1">
    
    
        
   

    
   
    <h1 id=sub_heading>Tutor Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Student Login </h1> 
    

<a href="{{ url_for('login') }}">
<img src="D:\New_Project\project\static\teacher2.png"  class=pic1> </a>

<a href="{{ url_for('student') }}">
<img src="D:\New_Project\project\static\student8.png" class=pic2></a> 
<!-- 
<button type="button" id=but1><a href="Tutor_signin.html" target=_blank>Teacher Login </a></button>
<button id=but2>Student Login</button> -->
<!--  -->
</div>
</body>
</html>


