<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher SignIn</title>
</head>

<link rel="stylesheet" href="../static/homecss.css" type="text/css">

<body bgcolor="powderblue">
    <div class="headers">
        <h1>WELCOME TO MITS TUTOR LOGIN</h1>
        <p>CSE Department</p>
    </div>
    <div class="div-1">
    
    <link rel="stylesheet" href="../styles/teachercss.css" type="text/css">
    <center>

    <form method="post" class="forms">
    <label>Email Address</label>
    <input type="text",placeholder="Enter you email address",id="email",name="email" required><br><br>
    <label>Password</label>
    <input type="password",placeholder="Enter you password",id="password",name="password" required><br><br>
    <button class="b"><a href="{{url_for('data')}}">SignIn</a></button>
    <button class="c"><a href="{{url_for('register')}}">Sign Up</a></button>

   
</form>
    </center>
</div>
</body>

</html>
